@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #FDFCF8;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
}
