@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #FAFAFA;
  min-height: 100vh;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
}

/* 横スクロールバー非表示 */
.overflow-x-auto::-webkit-scrollbar {
  display: none;
}
.overflow-x-auto {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
